$fonte-principal:"Arial", sams-serif;
$fonte-secundaria: "Times New Romam", serif;
$pequena: 14px;
$media: 18px;
$grande: 24px;
$extra-grande: 32px;

$cor-principal: #3D4058;
$cor-secundaria: #E07A5F;
$branco: #FFFF;
$off-white: #F4F1DE;
$cinza: #D3D3D3;
$preto: #000000;
